<h1>Gestión pedidos</h1>
<h3>{{title}} - {{nombre}}</h3>
<div class="bordes">
    <app-holamundo></app-holamundo>
</div>
<div class="bordes">
    <app-timer></app-timer>
</div>
<br>
La hora es {{fechaSistema | date}}.